{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
<div class="WS-product-container">
    {% for wishlist in wishlists %}
        <div class="WS-product-card m-3">
            <div class="productLogo">
                <a href="/product/show?id={{ wishlist.product_id }}"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                <a href="/wishlist/delete?id={{ wishlist.product_id }}"><img class="deleteWishlist" src="/assets/images/trashlogo.png"  alt=""></a>
            </div>
            <a href="/product/show?id={{ wishlist.product_id }}"><img class="productImage" src="/assets/images/{{ wishlist.product_image }}"  alt=""></a>

            <div class="WS-product-card-body">
                <h6 class="card-title my-0 ">{{ wishlist.product_name }}</h6>
                <h6 class="card-subtitle text-muted my-0 mb-md-2">{{ wishlist.product_price }} €</h6>
                <form action="" method="get">
                    <a href="/product/add?id={{ wishlist.product_id }}">
                        <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                    </a>
                </form>
            </div>
        </div>
    {% else %}
        <li>Vous n'avez pas encore de favoris !</li>
    {% endfor %}
{% endblock %}
