<h3>Vos articles</h3>
{% for cart in carts %}
    <div class="WS-mini-image test">
        <div class="miniCartImage">
            <img class="test2"src="/assets/images/{{ cart.image }}" alt="">
        </div>
        <div class="WS-cart">
            <h5 class="WS-cart-montant">{{ cart.name }}</h5>
            <h5 class="WS-cart-montant">{{ cart.price }} €</h5>
            <h5 class="WS-cart-montant">Quantités : {{ cart.quantity }}</h5>
            <div class="WS-basket-delete-update-content">
                <a href="/basket/delete?id={{ cart.id }}"><img src="/assets/images/trashlogo.png" alt=""></a>
                <form action="basket/edit" method="get">
                    <input name="id" type="hidden" value="{{ cart.id }}">
                </form>
            </div>
        </div>
    </div>
{% endfor %}
<h5 class="WS-cart-montant-fx-4 montantTotalmini"> Montant total {{ total }} €</h5>
<div class="bakayaro">
    <a href="/basket" class="btn btn-sucess text-white text-decoration-none w-100 ">Votre Panier</a>
</div>
