<body>
<!-- --------------------------------- other ideas ---------------------------------- -->
<div class="additionSalesLarge">
    <ul>
        <li>
            <div class="cardCustom">

                <div class="productLogo">
                    <a href="/product/show?id=15"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=15"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>

                <a href="/product/show?id=15{{ product.id }}"><img src="/assets/images/product15.png" class="card-img-top" alt="" title="kit"></a>
                <div class="card-bodyCustom">
                    <h5 class="card-title pe-none">Kit de survie en plein air</h5>
                    <h6 class="card-subtitle mb-2 text-muted pe-none">49.90 €</h6>
                    <form action="" method="get">
                        <a href="product/add?id=15"><button type="button" class="btn btn-success w-100" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="cardCustom">

                <div class="productLogo">
                    <a href="/product/show?id=6"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=6"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>

                <a href="/product/show?id=6{{ product.id }}"><img src="/assets/images/product06.png" class="card-img-top" alt=""></a>
                <div class="card-bodyCustom">
                    <h5 class="card-title pe-none">Couverture de survie</h5>
                    <h6 class="card-subtitle mb-2 text-muted pe-none">9.99 €</h6>
                    <form action="" method="get">
                        <a href="product/add?id=6"><button type="button" class="btn btn-success w-100" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="cardCustom">

                <div class="productLogo">
                    <a href="/product/show?id=17"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=17"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>

                <a href="/product/show?id=17{{ product.id }}"><img src="/assets/images/product17.png" class="card-img-top" alt=""></a>
                <div class="card-bodyCustom">
                    <h5 class="card-title pe-none">Sifflet de survie</h5>
                    <h6 class="card-subtitle mb-2 text-muted pe-none">4.99 €</h6>
                    <form action="" method="get">
                        <a href="product/add?id=17"><button type="button" class="btn btn-success w-100" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="cardCustom">

                <div class="productLogo">
                    <a href="/product/show?id=5"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=5"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>

                <a href="/product/show?id=5{{ product.id }}"><img src="/assets/images/product05.png" class="card-img-top" alt=""></a>
                <div class="card-bodyCustom">
                    <h5 class="card-title pe-none">Radio portable à manivelle</h5>
                    <h6 class="card-subtitle mb-2 text-muted pe-none">49.99 €</h6>
                    <form action="" method="get">
                        <a href="product/add?id=5"><button type="button" class="btn btn-success w-100" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
        </li>
        <li>
            <div class="cardCustom invisibleCustom">
                <div class="productLogo">
                    <a href="/product/show?id=12"><i class="fa-solid fa-eye eye-product fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id=12"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>

                <a href="/product/show?id=12{{ product.id }}"><img src="/assets/images/product12.png" class="card-img-top" alt=""></a>
                <div class="card-bodyCustom">
                    <h5 class="card-title pe-none">Lampe de poche tactique</h5>
                    <h6 class="card-subtitle mb-2 text-muted pe-none">62.99 €</h6>
                    <form action="" method="get">
                        <a href="product/add?id=12"><button type="button" class="btn btn-success w-100" name="cart">Ajouter au panier</button></a>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
