{% extends 'layout.html.twig' %}

{% block title %}Add - Users{% endblock %}
{% block content %}
    <div class="col-6 text-center w-100">
        <h1 class="loginTitle">Connexion à votre espace personnel</h1>
        <form method="post">
            <div class="mb-3">
                <label class="labelInput" for="email">Email :</label><br>
                <input class="loginInput" type="email" name="email" id="email" value="{{ user.email }}">
                <p class="contactError">{{ error.email }}</p>
            </div>
            <div class="mb-3">
                <label class="labelInput" for="WS_password">Mot de passe :</label><br>
                <input class="loginInput" type="password" name="WS_password" id="WS_password" value="{{ user.password }}">
                <p class="contactError">{{ error.password }}</p>
            </div>
            <p class="contactError">{{ error.connexion }}</p>
            <div class="d-flex justify-content-center">
                <div class="mb-3">
                    <button class="btn btn-sucess text-white m-3">Connexion</button>
                </div>
                <div class="my-3">
                    <a href="/users/add" class="btn btn-sucess text-decoration-none text-white">S'inscrire</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
