{% extends 'layout.html.twig' %}
{% block content %}
    <div class="contactContainer">
    <div class="container contact-form">
        <div class="contact-image">
            <img src="/assets/images/letterlogo.png" alt="rocket_contact"/>
        </div>
        <form method="post">
            <h3>Nous contacter</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group-contact">
                        <input type="text" name="txtName" class="form-control rounded-0" placeholder="Nom *" value="{{ name }}" />
                    </div>
                    <p class="contactError">{{ errorName }}</p>
                    <div class="form-group-contact">
                        <input type="text" name="txtEmail" class="form-control rounded-0" placeholder="Email *" value="{{ email }}" />
                    </div>
                    <p class="contactError">{{ errorEmail }}</p>
                    <div class="form-group-contact">
                        <input type="text" name="txtPhone" class="form-control rounded-0" placeholder="Téléphone" value="{{ phone }}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group-contact">
                        <input type="text" name="txtSubject" class="form-control rounded-0" placeholder="Sujet" value="{{ subject }}" />
                    </div>
                    <div class="form-group-contact">
                        <textarea name="txtMsg" class="form-control message rounded-0" placeholder="Message" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
                <div class="form-group-contact btnContactSubmitCentral">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Envoyer" />
                </div>
            </div>
        </form>
    </div>
    </div>
{% endblock %}
