{% extends 'layout.html.twig' %}

{% block content %}
    <div class="WS-basket-container mt-5">
        <!-- --------------------------------- cart --------------------------------- -->
        <div class="WS-basket-card-caddie ">
            <h4 class="mb-3">Votre panier</h4>
            {% if carts %}
            {% for cart in carts %}
                <div class="WS-basket-card bg-white ms-md-3">
                <div class="WS-basket-center">
                    <img class="WS-basket-img"src="/assets/images/{{ cart.image }}" alt="">
                </div>
                <div class="WS-basket-card-body">
                    <h5 class="card-title mt-3">{{ cart.name }}</h5>
                    <h6 class="card-subtitle text-muted mt-3">Prix unitaire : {{ cart.price }} €</h6>
                    <div>
                    <form class="quantity" action="basket/edit" method="get">
                        <h6 class="card-subtitle text-muted mt-3">Quantité : </h6>
                        <input name="id" type="hidden" value="{{ cart.id }}">
                        <button class="quantityChange" name="quantityChange-">-</button>
                        <input class="quantityItem" type="text" name="quantity" value="{{ cart.quantity }}">
                        <button class="quantityChange" name="quantityChange+">+</button>
                    </form>
                    </div>
                </div>
                <div class="WS-basket-price">
                    <a href="/basket/delete?id={{ cart.id }}"><img class="deleteItem" src="/assets/images/trash_logo.png" alt=""></a>
                    <h6 class="card-subtitle text-muted mt-3">Total : {{ cart.total }} €</h6>
                </div>
            </div>
            {% endfor %}
                {% else %}
                <p>Votre panier est vide !</p>
            {% endif %}
        </div>
        <!-- --------------------------------- other ideas --------------------------------- -->
        <div class="otherIdeas">
            <h4 class="mb-3">Vous pourriez aussi aimer</h4>
            <div class="WS-basket-card-box">
                <div class="WS-basket-card-plus">
                    <img src="/assets/images/product01.png" alt="">
                    <div class="WS-product-card-body">
                        <h7 class="card-title my-0 my-md-2">Kit de premiers secours</h7>
                        <h8 class="card-subtitle text-muted my-0 my-md-2">79.99 €</h8>
                        <form action="" method="get">
                            <a href="product/add?id=1"><button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button></a>
                        </form>
                    </div>
                </div>
                <div class="WS-basket-card-plus">
                    <img src="/assets/images/product04.png" alt="">
                    <div class="WS-product-card-body">
                        <h7 class="card-title my-0 my-md-2">Bouteille d'eau filtrante</h7>
                        <h8 class="card-subtitle text-muted my-0 my-md-2">39.99 €</h8>
                        <form action="" method="get">
                            <a href="product/add?id=4"><button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button></a>
                        </form>
                    </div>
                </div>
                <div class="WS-basket-card-plus2">
                    <img src="/assets/images/product02.png" alt="">
                    <div class="WS-product-card-body">
                        <h7 class="card-title my-0 my-md-2">Lampe de poche solaire</h7>
                        <h8 class="card-subtitle text-muted my-0 my-md-2">5.99 €</h8>
                        <form action="" method="get">
                            <a href="product/add?id=2"><button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button></a>
                        </form>
                    </div>
                </div>
                <div class="WS-basket-card-plus2">
                    <img src="/assets/images/product03.png" alt="">
                    <div class="WS-product-card-body">
                        <h7 class="card-title my-0 my-md-2">Nourriture en conserve</h7>
                        <h8 class="card-subtitle text-muted my-0 my-md-2">5.99 €</h8>
                        <form action="" method="get">
                            <a href="product/add?id=3"><button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- --------------------------------- payment recap --------------------------------- -->
        <div class="WS-basket-card-payment  p-3 bg-white">
            <h4 class="mb-3 mx-auto">Récapitulatif</h4>
            <div class="row justify-content-center">
                <form class="WS-basket-promo p-0">
                    <div class="me-3 ">
                        <input type="text" class="form-control" placeholder="Ajouter votre code promo">
                    </div>
                    <button type="submit" class="btn btn-primary">Appliquer</button>
                </form>
            </div>
            <section class="mt-3">
                <div class="WS-basket-box bg-white m-3">
                    <p class="m-0">Total des articles</p>
                    <p class="m-0">{{ total }} €</p>
                </div>
                <div class="WS-basket-center">
                    <div class="underline"></div>
                </div>
                <div class="WS-basket-box bg-white m-3">
                    <p class="m-0">Frais de livraisons estimés</p>
                    <p class="m-0">40,00 €</p>
                </div>
                <div class="WS-basket-center">
                    <div class="underline"></div>
                </div>
                <div class="WS-basket-box bg-white m-3">
                    <p class="m-0 fontBold">Total</p>
                    <p class="m-0 fontBold">{{ totalLivraison }} €</p>
                </div>
                <button type="submit" class="btn btn-primary w-100">Valider mon panier</button>
            </section>
            <section>
                <h6 class="mt-5 text-center">Modes de paiement disponibles</h6>
                <section class="WS-basket-payment mt-5  ">
                    <i class="fa-brands fa-cc-mastercard fa-2xl " style="color: #00364a;"></i>
                    <i class="fa-brands fa-cc-paypal fa-2xl " style="color: #00364a;"></i>
                    <i class="fa-brands fa-cc-visa fa-2xl " style="color: #00364a;"></i>
                </section>
            </section>
        </div>
    </div>
{% endblock %}
