{% extends 'layout.html.twig' %}

{% block title %}Search{% endblock %}

{% block content %}
    
<div class="WS-product-container">
{% for product in products %}
   <div class="WS-product-card m-3"><a href="/product/show?id={{ product.id }}"><i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
      <a href="/product/show?id={{ product.id }}"><img src="/assets/images/{{ product.image }}"  alt=""></a>
         <div class="WS-product-card-body">
            <h6 class="card-title my-0 pe-none">{{ product.name_product }}</h6>
            <h6 class="card-subtitle text-muted my-0 mb-md-2 pe-none">{{ product.price }} €</h6>
            <form action="" method="get">
               <a href="/product/add?id={{ product.id }}">
                  <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
               </a>
            </form>
         </div>
      </div>
    {% else %}
        <h4 class="searchResultFalse">Pardon, je n'ai pas compris vôtre requête?!</h4>
{% endfor %}
</div>

{% include "_includes/additionalSalesLarge.html.twig" %}
 
{% endblock %}