{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row WS-user-container font">
        <div class="WS-user-cont">
            <h1 class="fontTitle">Modifier un Produit</h1>
            <p>Veuillez remplir le formulaire pour ajouter un produit</p>
            <form method="post" enctype="multipart/form-data">
                <div>
                    <input type="hidden" name="id" value="{{ product.id }}">
                </div>
                <div class="mb-3">
                    <label for="name_product" class="form-label">Nom</label>
                    <input class="form-control" type="text" id="name_product" name="name_product"
                           value="{{ product.name_product }}">
                </div>
                <div class="mb-3">
                    <label for="sub_category_id_cat" class="form-label">Sous catogorie</label>
                    <select class="wform-label" name="sub_category_id_cat" id="sub_category_id_cat">
                        <option value="">Choisir une Sous categorie</option>
                        <option value="{{ product.sub_category_id_cat }}">Catégorie Actuel</option>
                        <option value="1">S'habiller</option>
                        <option value="2">S'alimenter</option>
                        <option value="3">S'abriter</option>
                        <option value="4">Se défendre</option>
                        <option value="5">S'orienter</option>
                        <option value="6">Kit de survie</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Prix</label>
                    <input class="form-control" type="text" id="price" name="price" value="{{ product.price }}">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <br>
                    <textarea id="decription" name="description"
                              rows="5" cols="50">{{ product.description }}</textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">
                        modifier produit
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

