{% extends 'layout.html.twig' %}

{% block content %}
    <img class="w-100" src="/assets/images/{{ filter.name }}.jpg" alt="img">
    <div class="WS-product-filter">
        <a class="dropdown-toggle btn btn-success m-3 ms-0 text-decoration-none text-white" href="#" role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            Categorie
        </a>
        <ul class="dropdown-menu rounded-0">
            <form action="/product/sortSub" method="get">
                <li><a class="dropdown-item text-decoration-none"
                       href="/product/sortSub?subCat=get_dressed">S'habiller</a></li>
                <li><a class="dropdown-item text-decoration-none" href="/product/sortSub?subCat=to_eat">S'alimenter</a>
                </li>
                <li><a class="dropdown-item text-decoration-none"
                       href="/product/sortSub?subCat=take_shelter">S'abriter</a></li>
                <li><a class="dropdown-item text-decoration-none" href="/product/sortSub?subCat=to_defend">Se
                        défendre</a></li>
                <li><a class="dropdown-item text-decoration-none"
                       href="/product/sortSub?subCat=orientation">S'orienter</a></li>
                <li><a class="dropdown-item text-decoration-none" href="/product/sortSub?subCat=survival_kit">Kit de
                        survie</a></li>
            </form>
        </ul>
        <a class="dropdown-toggle btn btn-success m-3 ms-0 text-decoration-none text-white" href="#" role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            Trier par prix
        </a>
        <ul class="dropdown-menu rounded-0">
            <form action="/product/sortPrice" method="get">
                <li><a class="dropdown-item text-decoration-none" href="/product/sort?price=ASC">Du - au + cher</a></li>
                <li><a class="dropdown-item text-decoration-none" href="/product/sort?price=DESC">Du + au - cher</a>
                </li>
            </form>
        </ul>
    </div>
    <div class="WS-product-container">
        {% for product in products %}

            <div class="WS-product-card m-3">
                <div class="productLogo">
                    <a href="/product/show?id={{ product.id }}">
                    <i class="fa-solid fa-eye fa-lg" style="color: #004f43;"></i></a>
                    <a href="/wishlist/add?id={{ product.id }}"><img class="lovelogo" src="/assets/images/lovelogo.png"  alt=""></a>
                </div>
                <a href="/product/show?id={{ product.id }}"><img class="productImage" src="/assets/images/{{ product.image }}"  alt=""></a>
                <div class="WS-product-card-body">
                    <h6 class="card-title my-0 pe-none">{{ product.name_product }}</h6>
                    <h6 class="card-subtitle text-muted my-0 mb-md-2 pe-none">{{ product.price }} €</h6>
                    <form action="" method="get">
                        <a href="/product/add?id={{ product.id }}">
                            <button type="button" class="btn btn-success w-100" name="cart">Ajout Panier</button>
                        </a>
                    </form>
                </div>
            </div>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </div>
{% endblock %}
