{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
    <div class="WS-user-container">

        <table>
            <thead>
            <tr>
                <th colspan="2" class="fs-1">Produits</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom</td>
                <td>price</td>
                <td>Supprimer</td>
                <td>Modifier le produit</td>
            </tr>
            {% for product in products %}
                <tr>
                    <td><a href="/product/show?id={{ product.id }}"
                           class="text-decoration-none text-reset">{{ product.name_product }}</a></td>
                    <td>{{ product.price }} €</td>
                    <td><a onclick="openModal('{{ product.id }}')" href="#" class="text-decoration-none text-reset">Delete</a>
                    </td>
                    <td><a href="/product/edit?id={{ product.id }}" class="text-decoration-none text-reset">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modal" class="WS_box">
        <form class="WS_dialogBox" id="deletForm" action="/product/delete" method="POST">
            <div>
                <h2 class=" text-center">Suppression</h2>
                <p class="text-center">Etes vous sur de vouloir supprimer ce produit ?</p>
                <input type="hidden" id="productId" name="id" value="{{ product.id }}">
                <div class="text-center pb-2">
                    <button type="button" class="btn btn-secondary" id="cancelBtn" title="Close Modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function openModal(id) {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('productId').value = id;

            const cancelBtn = document.getElementById('cancelBtn');
            cancelBtn.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('modal').style.display = 'none';
            });
        }
    </script>

{% endblock %}

