{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
    <div class="WS-user-container">

        <table>
            <thead>
            <tr>
                <th colspan="2" class="fs-1">Produits</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nom</td>
                <td>price</td>
                <td>Supprimer</td>
                <td>Modifier le produit</td>
            </tr>
            {% for product in products %}
                <tr>
                    <td><a href="/product/show?id={{ product.id }}"
                           class="text-decoration-none text-reset">{{ product.name_product }}</a></td>
                    <td>{{ product.price }} €</td>
                    <td><a href="/product/delete?id={{ product.id }}" class="text-decoration-none text-reset">Delete</a>
                    </td>
                    <td><a href="/product/edit?id={{ product.id }}" class="text-decoration-none text-reset">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

