{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
    <div class="row rowResp">
        <div class="col-md-6 offset-md-3">
            {% if user.role != 'admin' %}
            <h1 class="fontTitle mt-3">Mon profil</h1>
            {% endif %}
            {% if user.role == 'admin' %}
            <h1 class="fontTitle mt-3">Profil utilisateur</h1>
            {% endif %}
            <p>Veuillez remplir le formulaire pour le modifier.</p>
            <form method="post">
                <div>
                    <input type="hidden" name="id" value="{{ userChange.id }}">
                </div>
                <div class="mb-3">
                    <label for="user_name" class="form-label">Nom</label>
                    <input class="form-control" type="text" id="user_name" name="user_name" value="{{ userChange.user_name }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Adresse email</label>
                    <input class="form-control" type="email" id="email" name="email" value="{{ userChange.email }}">
                </div>
                <div class="mb-3">
                    <label for="WS_password" class="form-label">Mot de passe</label>
                    <input class="form-control" type="password" id="WS_password" name="WS_password" value="{{ userChange.WS_password }}">
                </div>
                <div class="mb-3">
                    <label for="birthday" class="form-label">Date de naissance</label>
                    <input class="form-control" type="date" id="birthday" name="birthday" value="{{ userChange.birthday }}">
                </div>
                    {% if user.role == 'admin' %}
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <select class="wform-label" name="role" id="role">
                                <option value="">Choisir une option</option>
                                <option value="admin">Admin</option>
                                <option value="user">User</option>
                            </select>
                        </div>
                {% endif %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-success btnLargeResp">
                        Mettre à jour les informations
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

