{% extends 'Layout.html.twig' %}

{% block content %}
    <div class="row ">
        <div class="col-md-6 offset-md-3">
            <h1>Modifier un compte</h1>
            <p>Veuillez remplir le formulaire pour modification</p>
            <form method="post">
                <div>
                    <input type="hidden" name="id" value="{{ user.id }}">
                </div>
                <div class="mb-3">
                    <label for="user_name" class="form-label">Name</label>
                    <input class="form-control" type="text" id="user_name" name="user_name" value="{{ user.user_name }}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" type="email" id="email" name="email" value="{{ user.email }}">
                </div>
                <div class="mb-3">
                    <label for="WS_password" class="form-label">Password</label>
                    <input class="form-control" type="password" id="WS_password" name="WS_password" value="{{ user.WS_password }}">
                </div>
                <div class="mb-3">
                    <label for="birthday" class="form-label">birthday</label>
                    <input class="form-control" type="date" id="birthday" name="birthday" value="{{ user.birthday }}">
                </div>
                    {% if user.role == 'admin' %}
                <div class="mb-3">
                    <label for="role" class="form-label">role</label>
                    <input class="form-control" type="text" id="role" name="role" value="{{ user.role }}">
                </div>
                {% endif %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-success ">
                        Modifier le compte
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
