{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
    <div class="WS-user-container3">
        <div class="WS_showAll-content">
            <h2 class="fontTitle">Liste des utilisateurs</h2>
            <div class="my-3">
                <a href="/users/add" class="btn btn-sucess text-decoration-none text-white">Ajouter</a>
            </div>
        </div>
        <table>
            <tbody>
            <tr>
                <td class="WS_td WS_td_width2">Nom</td>
                <td class="WS_td">Adresse email</td>
                <td class="WS_td text-center WS_td_width3">Date de naissance</td>
                <td class="WS_td">Rôle</td>
                <td class="WS_td text-center WS_td_width">Modifier</td>
                <td class="WS_td text-center WS_td_width">Supprimer</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td class="WS_user_td_2">{{ user.user_name }}</td>
                    <td class="WS_user_td_2">{{ user.email }}</td>
                    <td class="WS_user_td_2 text-center">{{ user.birthday }}</td>
                    <td class="WS_user_td_2">{{ user.role }}</td>
                    <td class="WS_user_td_3"><a href="/users/edit?id={{ user.id }}"><i class="fa-solid fa-pen-to-square"
                                                                                       style="color: #224c40;"></i> </a>
                    <td class="WS_user_td_3"><a onclick="openModal('{{ user.id }}')" href="#"
                                                class="text-decoration-none text-reset"><i
                                class="fa-regular fa-trash-can" style="color: #224c40;"></i></a></td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modal" class="WS_box">
        <form class="WS_dialogBox" id="deletForm" action="/users/delete" method="POST">
            <div>
                <h2 class=" text-center">Suppression</h2>
                <p class="text-center">Etes vous sûr(e) de vouloir supprimer cet utilisateur?</p>
                <input type="hidden" id="userId" name="id" value="{{ user.id }}">
                <div class="text-center pb-2">
                    <button type="button" class="btn btn-secondary" id="cancelBtn" title="Close Modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function openModal(id) {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('userId').value = id;

            const cancelBtn = document.getElementById('cancelBtn');
            cancelBtn.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('modal').style.display = 'none';
            });
        }
    </script>
{% endblock %}

