{% extends '/profile/view.html.twig' %}

{% block dashboardcontent %}
    <div class="WS-user-container2">
        <h1 class="mt-3">Liste des utilisateurs</h1>
        <table>
            <tbody>
            <tr>
                <td>Nom</td>
                <td>Adresse email</td>
                <td>Date de naissance</td>
                <td>Rôle</td>
                <td>Modifier</td>
                <td>Supprimer</td>
            </tr>
            {% for user in users %}
                <tr>
                    <td class="WS_user_td_2">{{ user.user_name }}</td>
                    <td class="WS_user_td_2">{{ user.email }}</td>
                    <td class="WS_user_td_2">{{ user.birthday }}</td>
                    <td class="WS_user_td_2">{{ user.role }}</td>
                    <td class="WS_user_td_3"><a onclick="openModal('{{ user.id }}')" href="#" class="text-decoration-none text-reset"><i class="fa-regular fa-trash-can" style="color: #224c40;"></i></a></td>
                    <td class="WS_user_td_3"><a href="/users/edit?id={{ user.id }}"><i class="fa-solid fa-pen-to-square" style="color: #224c40;"></i> </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modal" class="WS_box">
        <form class="WS_dialogBox" id="deletForm" action="/users/delete" method="POST">
            <div>
                <h2 class=" text-center">Suppression</h2>
                <p class="text-center">Etes vous sur de vouloir supprimer cet utilisateur?</p>
                <input type="hidden" id="userId" name="id" value="{{ product.id }}">
                <div class="text-center pb-2">
                    <button type="button" class="btn btn-secondary" id="cancelBtn" title="Close Modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        function openModal(id) {
            document.getElementById('modal').style.display = 'block';
            document.getElementById('userId').value = id;

            const cancelBtn = document.getElementById('cancelBtn');
            cancelBtn.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('modal').style.display = 'none';
            });
        }
    </script>
{% endblock %}

